/* css/ContactSection.css */
.button-social-media{
    font-size: 35px;
    color: rgb(232, 112, 0);
    margin-left: 20px;
    margin-right: 20px;
}

.contact-submit{
    margin-top: 10px;
}

.newsletter{
    margin-top: 80px;
}