/* css/EventsSection.css */
.events{
    width: 65%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 150px;
}

.centralize{
    text-align: center;
}

.card{
    background-color: white;
    height: 450px;
    color: black;
    margin: 10px;
    padding-bottom: 50px;
}

.card-top{
    height: 56px;
    background-color: #f98404;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    margin: 0px 10px 0px 10px
}

.name{
    font-size: 20px;
     color: white;
}

.image-card{
    background-color: papayaWhip;
    border-radius: 0px 0px 20px 20px;
    margin: 0px 10px 0px 10px;
}

.image{
    height: auto;
    width: auto;
    border-radius: 2%;
    margin-left: 50px;
    margin-right: auto;
}

.card-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 4px;
    text-align: center;
    color: black;
}

.saiba-mais{
    background-color: #f98404;
    color: white;
    font-size: 16px;
    padding: 6px;
    border-radius: 13px;
}
