/* css/HouseInfoSection.css */
.house-info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
  
    h2 {
      font-size: 1.5rem;
    }
  
    p {
      margin-top: 10px;
    }
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    li {
      display: inline-block;
      margin-right: 10px;
      font-size: 0.8rem;
      background-color: #eee;
      padding: 5px;
      border-radius: 5px;
    }
  }
  