/* css/HousesSection.css */
:root {
  --orange: #f98404;
  --dark: #222;
}

.houses-section {
  background-color: var(--orange);
  position: relative;
  margin: 0 auto;
}

.houses-section h1 {
    font-size: 40px;
    color: #ffffff;
  }
  

.house-container {
  display: flex;
  flex-direction: row;
  margin: 20px 20%;
}

.carousel {
  width: 400px;
  height: 400px;
  border: 12px solid #ffffff;
}

.info-section {
  margin-left: 150px;
  width: 400px;
  height: 400px;
  margin-right: 50px;
  background-color: aqua;
}

