/* css/HouseInfoSection.css */
.house-info-section {
  width: 400px;
  padding: 50px;
  border: 1px solid #ddd;
  border-radius: 8pxrgb(255, 255, 255);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  margin: 100;
}

ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

li {
  margin-bottom: 5px;
  font-size: 0.8rem;
  background-color: #eee;
  padding: 10px;
  border-radius: 50px;
}
