/* css/HousesSection.css */
:root {
  --orange: #f98404;
  --dark: #222;
}

.houses-section {
  background-color: var(--orange);
  position: relative;
  margin: 0 auto;
}

.house-container {
  display: flex;
  flex-direction: row;
  margin: 20px 20%;
}

.carousel {
  width: 500px;
  height: 400px;
  background-color: #222;
}

.info-section {
  margin-left: 150px;
  width: 400px;
  height: 400px;
  margin-right: 50px;
  background-color: aqua;
}

.h1 {
  size: 80px;
}