/* css/IntroButton.css */
:root {
  --orange: #f98404;
  --light: #fff;
}

.intro-button-container {
  display: flex;
  align-items: center;
}

.intro-button {
  background-color: var(--orange);
  color: var(--light);
  padding: 20px 20px;
  border: 2px solid var(--orange);
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.intro-button:hover {
  background-color: var(--light);
  color: var(--orange);
  border: 2px solid var(--orange);
}

.button-text {
  margin: 0px 15px; 
}

.button-wpp {
  padding-top: 40px;
  font-size: 100px;  
  color: #f98404;
}
