/* css/NavbarButton.css */
:root {
    --orange: #f98404;
    --light: #fff;
  }
  
  .button {
    background-color: var(--light);
    color: var(--orange);
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    border: 2px solid var(--light);
    border-radius: 20px;
  }
  
  .button:hover {
    background-color: var(--orange);
    color: var(--light);
    border: 2px solid var(--light);
  }
  