/* css/Navbar.css */
:root {
    --orange: #f98404;
    --dark: #222;
    --light: #fff;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--orange);
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .left-side {
    display: flex;
    align-items: center;
  }
  
  .right-side {
    display: flex;
    align-items: center;
    margin-right: 2rem; 
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--light);
    margin-right: 1rem;
  }
  
  .dark-mode {
    background-color: var(--dark);
    color: var(--light);
  }
  